@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* ==========================================================================
Global Styles
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  overflow-x: hidden;
}

.sep {
  max-width: 150px;
  border: 2px solid white;
  margin-top: 10px;
  margin-bottom: 40px;
}

.light-sep {
  max-width: 150px;
  border: 2px solid #fff;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* ==========================================================================
Typography
========================================================================== */
h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 0.16em;
}

h2 {
  font-size: 36px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

h3 {
  font-size: 26px;
  color: #000;
  font-weight: 400;
}

h4 {
  font-size: 24px;
  color: #000;
  font-weight: 400;
}

h5 {
  font-size: 22px;
  color: #000;
  font-weight: 400;
}

h6 {
  font-size: 18px;
  color: #000;
  font-weight: 400;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

/* ==========================================================================
Buttons Styles
========================================================================== */
.btn-transparent {
  background: transparent;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

.btn-light {
  background: #fff;
  border: 3px solid #fff;
  padding: 15px 30px;
  font-size: 14px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #0d0d0d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  background: transparent;
  color: #fff;
  text-decoration: none;
}

.btn-block {
  background: #24242a;
  padding: 15px 0;
  font-size: 16px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 3px solid #24242a;
}

.btn-block:hover,
.btn-block:focus,
.btn-block:active {
  background: #fff;
  color: #0d0d0d;
  text-decoration: none;
}

/* ==========================================================================
Layout 
========================================================================== */
.dark-bg {
  background: #24242a;
}

.light-bg {
  background: #fff;
}

    /* ==========================================================================
Preloader Style
========================================================================== */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #24242a;
}
.preloader i {
  color: #fff;
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}

    /* ==========================================================================
Navigation Style
========================================================================== */
.navbar-default {
  background: rgba(13, 13, 13, 0.6);
  margin-bottom: 0;
  border: none;
  padding-top:15px;
  padding-bottom:0px;
}

.navbar-default .navbar-header {
  width: 28%;
  padding-right: 15px;
}
.navbar-default .nav-wrap {
  width: 60%;
}

.navbar-default .nav > li > a {
  padding:15px;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:active {
  color: #a3a3a3;
}

}
.navbar-default .social-media {
  float: right;
  padding: 0px 15px;
}
.navbar-default .social-media i {
  font-size: 22px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #a3a3a3;
}

.navbar-default .navbar-header .navbar-brand {
    height: auto;
    
  }
.navbar-default .navbar-header .navbar-brand img {
    width: 52px;
    height: 52px;
  }
.top-nav-collapse {
  background: #24242a;
  padding: 0px !important
}
.top-nav-collapse .navbar-brand {
  height: auto;
}
.top-nav-collapse .navbar-brand img {
  width: 65px;
  height: 65px;
}
.top-nav-collapse .nav > li > a {
  padding: 20px 13px;
}

    /* ==========================================================================
Sliders Style
========================================================================== */
#owl-hero {
  overflow: hidden;
}
#owl-hero .item {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#owl-hero .item .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 15;
}
#owl-hero .item .caption h1 {
  margin-top: 40px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#owl-hero .item .caption h1 span {
  font-weight: 700;
}
#owl-hero .item .caption h6 {
  color: #fff;
  margin: 0;
}
#owl-hero .owl-pagination {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  bottom: 5%;
}
#owl-hero .owl-pagination .owl-page.active span {
  background: #fff;
}
#owl-hero .owl-pagination .owl-page span {
  border: 2px solid #fff;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#owl-hero .owl-buttons div {
  background: #fff;
  font-size: 24px;
  color: #a3a3a3;
  opacity: 1;
}
#owl-hero .owl-buttons .owl-prev {
  left: -60px;
}
#owl-hero .owl-buttons .owl-next {
  right: -60px;
}
#owl-hero .owl-buttons .owl-prev,
#owl-hero .owl-buttons .owl-next {
  position: absolute;
  background: #fff;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 45px;
  border-radius: 0;
  border: 1px solid #fff;
  z-index: 20;
  text-align: center;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#owl-hero:hover .owl-prev {
  left: -5px;
}

#owl-hero:hover .owl-next {
  right: -5px;
}



    /* ==========================================================================
Prophet Corner Header Style
========================================================================== */

body {
  text-align: center;
  font-family: sans-serif;
}

#prophetcornerheader {
	height: 480px;
  position: relative;
  overflow-y: hidden;
  color: white;
}
#prophetcornerheader p{
  font-size: 1.5em; 
  color: white;
  text-transform:uppercase;
}

#prophetcornerheader video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: -150px;
  left: 10;
  bottom: 0;
  right: 0;
  z-index: -100;
}

#prophetcornerheader h1{
 	font-size: 3em; 
 	text-transform:uppercase;
 	 font-weight: bold;
}

    /* ==========================================================================
prophetbody Style
========================================================================== */
#prophetbody {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
#prophetbody h2 {
  text-transform: uppercase;
  color: #fff;
}
#prophetbody h3 {
  text-transform: uppercase;
  color: #fff;
}
#prophetbody p {
  
  color: #fff;
  

}
#prophetbody .prophetbody-box {
  margin-top: 10px;
}
#prophetbody .prophetbody-box .col-md-6 {
  margin-bottom: 20px;
}
#prophetbody .prophetbody-box .col-md-6 .media-left,
#prophetbody .prophetbody-box .col-md-6 .media-right,
#prophetbody .prophetbody-box .col-md-6 .media-body {
  padding-right: 10px;
  vertical-align: baseline;
}
#prophetbody .prophetbody-box .col-md-6 .media-left p,
#prophetbody .prophetbody-box .col-md-6 .media-right p,
#prophetbody .prophetbody-box .col-md-6 .media-body p {
  text-align: justify;
  line-height: 200%
}
#prophetbody .prophetbody-box .col-md-6 .media-left h3,
#prophetbody .prophetbody-box .col-md-6 .media-right h3,
#prophetbody .prophetbody-box .col-md-6 .media-body h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
#prophetbody .prophetbody-box .col-md-6 .media-left span,
#prophetbody .prophetbody-box .col-md-6 .media-right span,
#prophetbody .prophetbody-box .col-md-6 .media-body span {
  font-size: 36px;
  color: #fff;
}
#prophetbody .prophetbody-box .col-md-12 {
 
  margin-bottom: 20px;
}
#prophetbody .prophetbody-box .col-md-12 .media-left,
#prophetbody .prophetbody-box .col-md-12 .media-right,
#prophetbody .prophetbody-box .col-md-12 .media-body {
  padding-right: 15px;
  vertical-align: baseline;
}
#prophetbody .prophetbody-box .col-md-12 .media-left p,
#prophetbody .prophetbody-box .col-md-12 .media-right p,
#prophetbody .prophetbody-box .col-md-12 .media-body p {
  text-align: justify;
  line-height: 200%
}
#prophetbody .prophetbody-box .col-md-12 .media-left h3,
#prophetbody .prophetbody-box .col-md-12 .media-right h3,
#prophetbody .prophetbody-box .col-md-12 .media-body h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
#prophetbody .prophetbody-box .col-md-12 .media-left span,
#prophetbody .prophetbody-box .col-md-12 .media-right span,
#prophetbody .prophetbody-box .col-md-12.media-body span {
  font-size: 36px;
  color: #fff;
}



    /* ==========================================================================
Message Title Style (Orange Box) for Prophet Corner
========================================================================== */

#prophetbody .prophetbody-box .msgtitle .legend{
    position: relative;
  width: 100%;
  display: block;
  background: #FF7052;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  }
  
 #prophetbody .prophetbody-box .msgtitle .legend:after{
 content: "";
  background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  }

  /* ==========================================================================
Seeds of Faith Header Style
========================================================================== */
body {
  text-align: center;
  font-family: sans-serif;
}

#seedoffaithheader {
	height: 480px;
  position: relative;
  overflow-y: hidden;
  color: white;
}
#seedoffaithheader p{
  font-size: 1.5em; 
  color: white;
  text-transform:uppercase;
}

#seedoffaithheader video {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  top: -150px;
  left: 10;
  bottom: 0;
  right: 0;
  z-index: -100;
}

#seedoffaithheader h1{
 	font-size: 2em; 
 	text-transform:uppercase;
 	 font-weight: bold;
}

 /* ==========================================================================
Seeds Of Faith Body Style
========================================================================== */
#seedoffaithbody {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
#seedoffaithbody h2 {
  text-transform: uppercase;
  color: #fff;
}
#seedoffaithbody h3 {
  text-transform: uppercase;
  color: #fff;
}
#seedoffaithbody p {
  
  color: #fff;
  

}
#seedoffaithbody .seedoffaithbody-box {
  margin-top: 10px;
}
#seedoffaithbody .seedoffaithbody .col-md-6 {
  margin-bottom: 20px;
  padding-right: 10px;
  
}
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-left,
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-right,
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-body {
  padding-right: 10px;
  vertical-align: baseline;
}
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-left p,
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-right p,
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-body p {
  text-align: justify;
  line-height: 200%
}
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-left h3,
#seedoffaithbodyy .seedoffaithbody-box .col-md-6 .media-right h3,
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-body h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-left span,
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-right span,
#seedoffaithbody .seedoffaithbody-box .col-md-6 .media-body span {
  font-size: 36px;
  color: #fff;
}
#seedoffaithbody .seedoffaithbody .col-md-12 {
  margin-bottom: 20px;
  padding-bottom:50px;
}
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-left,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-right,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-body {
  padding-right: 15px;
  vertical-align: baseline;
}
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-left p,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-right p,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-body p {
  text-align: justify;
  line-height: 200%
}
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-left h3,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-right h3,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-body h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: left;
}
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-left span,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-right span,
#seedoffaithbody .seedoffaithbody-box .col-md-12 .media-body span {
  font-size: 36px;
  color: #fff;
}


 /* ==========================================================================
Message Title Style (Orange Box) for Prophet Corner
========================================================================== */



#seedoffaithbody .seedoffaithbody-box .seedslogin{
  
position: relative;
  top: 0%;
  width:auto;
  margin: auto auto auto auto;
  background: #fff;
  border-radius: 5px;
}
#seedoffaithbody .seedoffaithbody-box .seedslegend{
    position: relative;
  width: 100%;
  display: block;
  background:#87CEFA;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  }
  
 #seedoffaithbody .seedoffaithbody-box .seedslegend:after{
 content: "";
  background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position: 152px -16px;
  opacity: 0.06;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  }
  
  .sepe {
  max-width: auto;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 40px;
   }
    
    /* ==========================================================================
Donate Style
========================================================================== */
#donate {
background: #B0C4DE;
  padding: 60px 0;
  text-align: center;
}
#donate h2 {
  text-transform: uppercase;
}
#donate .donate {
  margin-top: 40px;
  margin-bottom: 20px;
}
#donate .donate h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 700;
}
#donate .donate p {
  color: #a3a3a3;
}
#donate .donate a {
  color: #0d0d0d;
  font-size: 22px;
  padding-right: 10px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#donate .donate a:hover,
#donate .donate a:focus,
#donate .donate a:active {
  color: #a3a3a3;
}

    
    /* ==========================================================================
Contact Us Style
========================================================================== */
#contact {
  padding: 100px 0;
  text-align: center;
}
#contact h2 {
  text-transform: uppercase;
}
#contact h6 {
  margin: 0px;
}
#contact form {
  margin: 10px 0;
}
#contact .form-group {
  margin-bottom: 35px;
}
#contact .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 2px solid #24242a;
  color: #0d0d0d;
  min-height: 45px;
}
#contact textarea {
  height: 140px;
  resize: none;
}
.contactsep {
  max-width: 250px;
  border: 2px solid #0d0d0d;
  margin-top: 10px;
  margin-bottom: 10px;
}


    /* ==========================================================================
Footer Map Style
========================================================================== */
footer {
  background: #24242a;
  padding: 60px 0;
  text-align: center;
}
footer p {
  color: #fff;
}
}
footer .social {
  margin: 40px 0;
}
footer .social a {
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .social a:hover,
footer .social a:focus,
footer .social a:active {
  color: #a3a3a3;
}
footer h6 {
  text-transform: uppercase;
  color: #fff;
}

    /* ==========================================================================
Media Queries Style
========================================================================== */
@media (max-width: 992px) {
  -- Navigation --  .navbar-default {
    background: #24242a;
  }
  .navbar-default .navbar-header {
    width: 100%;
    padding-right: 0;
  }
  .navbar-default .navbar-header .navbar-brand {
    height: auto;
  }
  .navbar-default .navbar-header .navbar-brand img {
    width: 52px;
    height: 52px;
  }
  .navbar-default .nav-wrap {
    width: 100%;
  }
  .navbar-default .navbar-toggle {
    padding-top: 25px;
    padding-bottom: 25px;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:active {
    background: none;
  }
  .navbar-default .navbar-left,
  .navbar-default .navbar-right {
    float: none !important;
  }
  .navbar-default .navbar-toggle {
    display: block;
  }
  .navbar-default .navbar-collapse {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-default .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-default .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-default .navbar-nav > li {
    float: none;
  }
  .navbar-default .collapse.in {
    display: block !important;
  }

  /*-- Sliders --*/
  #owl-hero h1 {
    font-size: 42px;
  }
  #owl-hero h6 {
    font-size: 16px;
        margin-bottom: -20px;
  }
  #owl-hero .btn {
    margin-top: 20px;
  }
  #owl-hero .owl-buttons {
    display: none;

  }

  /*-- prophetbody --*/
  #prophetbody h3 {
    font-size: 22px;
  }

  /*-- section styles --*/
  section h2 {
    font-size: 32px;
  }

  #testimonials h5 {
    font-size: 18px;
  }
}


#responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


#responsive-video iframe,
#responsive-video object,
#responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}


